#app {
    font-family: "Gotham Medium";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    background: linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0.02) 1px,
        transparent 1px
    ),
    linear-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.02) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px),
    linear-gradient(
        transparent 3px,
        rgba(242, 242, 242, 0.02) 3px,
        rgba(242, 242, 242, 0.02) 78px,
        transparent 78px
    ),
    linear-gradient(-90deg, rgba(170, 170, 170, 0.02) 1px, transparent 1px),
    linear-gradient(
        -90deg,
        transparent 3px,
        rgba(242, 242, 242, 0.02) 3px,
        rgba(242, 242, 242, 0.02) 78px,
        transparent 78px
    ),
    linear-gradient(rgba(170, 170, 170, 0.02) 1px, transparent 1px),
    rgba(242, 242, 242, 0.02);
    background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px,
        80px 80px, 80px 80px, 80px 80px;
}

@font-face {
    font-family: "Gotham Medium";
    src: url("Gotham-Medium.otf") format("opentype");
}

a:hover {
    text-decoration: underline;
    /* background: black; */
    color: black;
}

a {
    color: #2e2e2e;
    text-decoration: none;
    background: rgba(202, 202, 202, 0.178);
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

::-webkit-scrollbar {
    background-color: #cccccc33;
    width: 0.5em;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.452);
}